html,body {
    margin: 0;
    padding: 0;
}
.msg {
    font-size: 64px;
}
.center {
    width: 100%;
    heigth: 100%;
    display: flex row nowrap;
    flex-row: row nowrap;
    align-items: center;
    justify-content: center;
}

